{% extends "base.jinja" %}

{% block content %}
<h2 class="page_title">About BreadBox</h2>
<br>
<div class="all_about">
    <div class="about_box">
        <p>
            BreadBox was founded in 2023 by Software Engineer and sourdough bread baker, Connor Cox, 
            in an effort to reduce food waste in our communities
            and provide delicious food to those who need it.
        </p>
        <p>
            For every box of food that you buy through BreadBox, we
            donate a box of food to local food banks.
        </p>
    </div>
    <div class="img_box">
        <img class="bread_about" src="../static/images/leaf_best.jpeg" alt="leaf_loaf">
    </div>
</div>
{% endblock %}