{% extends "base.jinja" %}

{% block content %}

    <h1 class="page_title">Welcome to Breadbox</h1>
    <br>
    <div class="all_home">
        <div class="home_words">
        <img class="bread_logo" src="../static/images/bread.png" alt="">
            <p>The app for delicious snacks and meals that help eliminate food waste!</p><br><br>
        </div>
        <div class="home_words">
            <p>How it works:</p>
            <ul class="how_explained">
                <li>Explore food from local restaurants and bakeries
                that would normally get thrown out at the end of the day.</li><br> 
                <li>When you see something you like, reserve that box, and
                pick it up during the stated time. </li><br> 
                <li>For every box purchased, BreadBox will donate a box of food to local food banks.</li><br> 
            </ul>
        </div>
    </div>
    <div class="btns">
        <a class="btn2" href="/about">ABOUT</a><br>
        <a class="btn2" href="/auth/signin">SIGN IN</a><br>
        <a class="btn2" href="/auth/register">REGISTER</a><br>
    </div>
{% endblock %}
