{% extends "base.jinja" %}

{% block content %}
<div class="reg_box">
    <h2 class="box_title">Register</h2>
    <form action="" method="post">
        {{ vendor_form.hidden_tag() }}
        <p>
        {{ vendor_form.username.label }} <br>
        {{ vendor_form.username(size=32) }}
        {% for error in vendor_form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </p>
        <p>
        {{ vendor_form.email.label }} <br>
        {{ vendor_form.email(size=32) }}
        {% for error in vendor_form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </p>
        <p>
        {{ vendor_form.password.label }} <br>
        {{ vendor_form.password(size=32) }}
        </p>
        <p>
        {{ vendor_form.confirm_password.label }} <br>
        {{ vendor_form.confirm_password(size=32) }}
        </p>
        <p>
        {{ vendor_form.store_name.label }} <br>
        {{ vendor_form.store_name(size=32) }}
        </p>
        <p>
        {{ vendor_form.first_name.label }} <br>
        {{ vendor_form.first_name(size=32) }}
        </p>
        <p>
        {{ vendor_form.last_name.label }} <br>
        {{ vendor_form.last_name(size=32) }}
        </p>
        <p>
        {{ vendor_form.store_type.label }} <br>
        {{ vendor_form.store_type(size=32) }}
        </p>
        <p>{{ vendor_form.submit(class='btn1 btn-primary') }}</p>
    </form>
</div>
{% endblock %}

