{% extends "base.jinja" %}

{% block content %}
<h2 class="page_title">{{ user.username.upper() }}'s Profile</h2>
<br>
{% for post in posts %}
<div class="box_post">
    <img src="../static/images/pineapple.png" alt="bread_logo">
    <h4>{{ user.store_name }} </h4>
    <p><b>Available for pick up: </b>{{post.pickup_time}}</p>
    <p>{{post.price}}</p>
    <p>Posted by: {{ post.author.username.upper() }}</p>
    <br>
    <br>
</div>
{% endfor %}
{% endblock %}